
<div ng-if="$ctrl.hero" class="container">
	<h2>{{$ctrl.hero.name}} details!</h2>
  <div class="form-group">
    <label>id:</label> <span>{{$ctrl.hero.id}}</span>
  </div>
  <div class="form-group">
    <label>name: </label>
    <input type="text" ng-model="$ctrl.hero.name" placeholder="name" class="form-control" />
  </div>
  <div class="buttons-container form-group">
	  <button ng-click="$ctrl.goBack()" class="btn btn-default">Back</button>
	  <button ng-click="$ctrl.save()" class="btn btn-primary">Save</button>
  </div>
</div>
